[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dotenv = "*"
rest-framework-simplejwt = "*"
google-auth = "*"
django = "*"
psycopg2 = "*"
django-rest-framework-social-oauth2 = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-spectacular = "*"
django-cors-headers = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
